<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
  <appSettings>
    <add key="SourcePath"
             value="N:\Dev\Git\DataMonitorService\SampleData.csv"/>
    <add key="SourceType"
             value="CSV"/>
    <add key="TimerIntervalMilliseconds"
             value="10000"/>

    <add key="ErrorLogFilePath"
             value="N:\Dev\Git\DataMonitorService\Errors.txt"/>
    <add key="OperationsLogFilePath"
             value="N:\Dev\Git\DataMonitorService\Operations.txt"/>
    <add key="WarningLogFilePath"
             value="N:\Dev\Git\DataMonitorService\Warnings.txt"/>


  </appSettings>
</configuration>