<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
  <appSettings>
    <add key="SourcePath"
             value="N:\Dev\Git\DataMonitorServiceAndClient\DataMonitorService\SampleData.csv"/>
    <add key="SourceType"
             value="CSV"/>
    <add key="TimerIntervalMilliseconds"
             value="10000"/>
    <add key="MaxRetryCount"
             value="3"/>
    

    <add key="ErrorLogFilePath"
             value="N:\Dev\Git\DataMonitorServiceAndClient\DataMonitorService\Errors.err"/>
    <add key="OperationsLogFilePath"
             value="N:\Dev\Git\DataMonitorServiceAndClient\DataMonitorService\Operations.log"/>
    <add key="WarningLogFilePath"
             value="N:\Dev\Git\DataMonitorServiceAndClient\DataMonitorService\Warnings.wrn"/>


  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDataUpdateService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/dataUpdate/DataUpdateService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataUpdateService"
        contract="DataUpdateProxy.IDataUpdateService" name="BasicHttpBinding_IDataUpdateService" />
    </client>
  </system.serviceModel>
</configuration>