<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

     <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                  <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>

            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="mexBehavior"
                     name="DataUpdateService.DataUpdateService">
                <endpoint address="DataUpdateService" binding="basicHttpBinding"
                    contract="DataUpdateService.IDataUpdateService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8080/dataUpdate" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>