<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="CsvSourcePath"
               value="N:\Dev\Git\DataMonitorServiceAndClient\DataMonitorService\SampleData.csv"/>
    </appSettings>
     <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                  <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>

            </serviceBehaviors>
        </behaviors>
       
        <bindings>
          <basicHttpBinding>
            <binding name="BasicHttpBinding_DataUpdateService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" openTimeout="00:20:00" 
              receiveTimeout="00:20:00" closeTimeout="00:20:00" sendTimeout="00:20:00">
              <readerQuotas maxDepth="200" maxStringContentLength="8388608" maxArrayLength="16384" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
            </binding>
          </basicHttpBinding>
        </bindings>
       
        <services>
            <service behaviorConfiguration="mexBehavior"
                     name="DataUpdateServiceModel.DataUpdateService">
                <endpoint address="DataUpdateService" binding="basicHttpBinding"
                    bindingConfiguration="BasicHttpBinding_DataUpdateService"
                    contract="DataUpdateServiceModel.ServiceContract.IDataUpdateService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8080/dataUpdate" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>